<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261806783247-7povjsomlqeqf93d5kjnvq2cdfh9vn1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261806783247-7povjsomlqeqf93d5kjnvq2cdfh9vn1p</string>
	<key>API_KEY</key>
	<string>AIzaSyDM4K_75kQ-Ks-Tr2Xd2lIRGX5kQwLd-Y8</string>
	<key>GCM_SENDER_ID</key>
	<string>261806783247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessApplicationProject</string>
	<key>PROJECT_ID</key>
	<string>myfitnesspalproject-cebea</string>
	<key>STORAGE_BUCKET</key>
	<string>myfitnesspalproject-cebea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261806783247:ios:9ea1183e9a4a944c1d1c7a</string>
</dict>
</plist>